Library
Logs
Packages
Temp
UserSettings
.vsconfig
Assembly-CSharp.csproj
Unity_Project_AIVG.sln
Assets/Camera
Assets/Cubetti*saltellanti
Assets/Materials
Assets/Pavimento
Assets/Proiettili
Assets/Scenes
Assets/Spawner
Assets/*meta
!Assets/LabyrinthPCG.meta